<div class="slds">
  <%= render partial: 'section_header', locals: {title: "Breadcrumbs"} %>
  <nav role="navigation">
    <p id="bread-crumb-label" class="slds-assistive-text">You are here:</p>
    <ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label">
      <li class="slds-list__item slds-text-heading--label"><a href="#">Parent Entity</a></li>
      <li class="slds-list__item slds-text-heading--label"><a href="#">Parent Record Name</a></li>
    </ol>
  </nav>
  <!-- Margin -->
  <div class="components-margin"></div>
</div>