<div class="slds">
  <%= render partial: 'section_header', locals: {title: "Floats - Float Left"} %>
  <section class="slds-clearfix">
    <div class="slds-float--left">
      <p>I&#x27;m floooaaaating</p>
    </div>
  </section>
  <!-- Margin -->
  <div class="components-margin"></div>

  <%= render partial: 'section_header', locals: {title: "Floats - Float Right"} %>
  <section class="slds-clearfix">
    <div class="slds-float--right">
      <p>I&#x27;m floooaaaating</p>
    </div>
  </section>
  <!-- Margin -->
  <div class="components-margin"></div>

  <%= render partial: 'section_header', locals: {title: "Floats - Clearfix"} %>
  <section class="slds-clearfix">
    <div class="slds-float--left">
      <p>I&#x27;m floooaaaating</p>
    </div>
    <div class="slds-float--right">
      <p>I&#x27;m floooaaaating</p>
    </div>
  </section>
  <!-- Margin -->
  <div class="components-margin"></div>
</div>