<div class="slds">
  <%= render partial: 'section_header', locals: {title: "Tooltips - Single Line"} %>
  <dl class="slds-size--1-of-2">
    <dt class="slds-text-heading--label">Field 4</dt>
    <dd>
      <p class="slds-truncate">Long text field with many lines and truncation will look like this. Even though the text might go on for ages and ages.</p>
    </dd>
  </dl>
  <!-- Margin -->
  <div class="components-margin"></div>
</div>